$main-font-family:'Microsoft YaHei','Hiragino Sans GB','SimSun';
$main-width:1170px;
$banner-heigh: 45px;
$theme-color: #0099CC;
$container-color: #EEE;

// brace the footer
$brace-height: 70px;

// info box backgroud color
$bg-success: #dff0d8;
$bg-warning: #fcf8e3;
$bg-danger: #f2dede;