@import 'global';

.main{
	$margin-for-info-box: 25px;
	.index-info-box{
		width: $main-width - 2 * $margin-for-info-box;
		height: 500px - 2 * $margin-for-info-box;
		margin: $margin-for-info-box;
		border-radius: 6px;
		background-color: $container-color;
	}
}
