{% extends "../common/layout.html"%}
{% block content %}

<link rel="stylesheet" href="/staticasset/fontello/css/animation.css">
<link rel="stylesheet" href="/static/css/problem/problem.css">
<script src="/staticasset/ace/src-min-noconflict/ace.js"></script>

<script>
	var user_type = {{userIs}}
</script>

	<div class="detail">
		<div class="problem-title"><h3>{{problem_title}}</h3></div>
		<div class="problem-description">
			{{problem_description}}
		</div>
		<div class="problem-links">discuss</div>
	</div>

	<form action="/problem/submit" method="post" class="submition" get-status="/problem/submit/status">
		<input type="hidden" name="pid" value="{{problem_id}}">
		<div class="subm-header">
			<select name="language" id="">
				<option value="C">C</option>
			</select>
			{% if userIs != "guest" %}
			<a class="btn" id="reset" title="reset"><i class="icon-arrows-cw"></i></a>
			{% endif %}
			<input type="hidden" name="type" value="assert">
		</div>
		<div class="subm-editor">
			<textarea id="code_editor_raw" style="display:none;">{{problem_pre_code}}</textarea>
			<div id="editor" name="code">{{problem_pre_code}}</div>

		</div>
		{% if userIs ==  "guest" %}
		<a class="btn" href="/login"><i class="icon-goj"></i>Login First</a>
		{% else %}
		<div class="solu-submit">
			<button class="btn"><i class="icon-goj"></i>Submit</button>
			<span class="status sta-error" style="display:none;"><i class="icon-spin4 animate-spin"></i><a>Accept</a></span>
		</div>
		{% endif %}
	</form>

<script src="/static/js/problem/detail.js"></script>
{% endblock %}
