{% extends "../common/layout.html"%}
{% block content %}
<link rel="stylesheet" href="/static/css/problem.css">
	<div class="announcement" style="display:none;"></div>
	<div class="problem">
		<div class="problem-list">
			<ul>
				<li class="list-header">
					<ul>
						<li class="item-id">编号</li>
						<li class="item-title">题目</li>
						<li class="item-type">类型</li>
						<li class="item-rate">通过率</li>
						<li class="item-time">添加时间</li>
					</ul>
				</li>
				{% for pro in problems %}
				<li class="list-item">
					<ul>
						<li class="item-id">{{pro.Id}}</li>
						<li class="item-title">
							<a href="/problems/p/{{pro.Title}}">{{pro.Title}}</a>
						</li>
						<li class="item-type">{{pro.Type}}</li>
						<li class="item-rate">{{pro.Pass_rate }}</li>
						<li class="item-time">{{timeformat (pro.Time,"DATE")}}</li>					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="cata">
			<ul class="hot">
				<li><i class="icon-fire"></i>Top 10</li>
				{% for pro in top10 %}
				<li class="item"><a href="">{{pro.Title}}</a></li>
				{% endfor %}
			</ul>
			<ul class="tags">
				<li><i class="icon-tags"></i>分类</li>
				{% for t in tag_list %}
				<li class="item"><a href="">{{ t.Tag}}<span class="badge">{{t.Problem_num}}</span></a></li>
				{% endfor %}
			</ul>
			<ul class="tags">
				<li><i class="icon-link"></i>链接</li>
				
				<li class="item"><a href="/problem/add" target="_blank">我要添加题目</a></li>
            </ul>
		</div>
	</div>
	
{% endblock %}
