      </div>

    </div>

    <div class="footer">
      <div class="footer-wraper clear">
        <div class="right">
          <a class="right-tag" href="https://github.com/gojudge/ojsite"><span class="octicon octicon-mark-github"></span></a>
          <span class="lang">
            <ul>
              <li><a lang="en-US">English</a></li>
              <li><a lang="zh-CN">简体中文</a></li>
              <li><a lang="zh-TW">繁体中文</a></li>
            </ul>
            </span>
            </div>

          {% comment %}
        <p class="left">©2015 Goj · {{{i18n "version"}}}:{{{ver "app"}}} · {{{i18n "load_time"}}}:{{{load_time .start}}}s</p>

        <div class="right">
          <a class="right-tag" href="https://github.com/gojudge/ojsite"><span class="octicon octicon-mark-github"></span></a>
          <span class="lang">
            <ul>
              <li><a lang="en-US">English</a></li>
              <li><a lang="zh-CN">简体中文</a></li>
              <li><a lang="zh-TW">繁体中文</a></li>
            </ul>
            <a class="right-tag">{{{i18n "language"}}}</a>
          </span>
          <a class="right-tag" href="http://oj.gojudge.net">{{{i18n "site"}}}</a>
          <a>{{{ver "golang"}}}</a>
          {% endcomment %}
        </div>
      </div>
    </div>

  </body>
</html>
