appname = ojsite
httpport = 82
runmode = dev 

mysqluser = "root"
mysqlpass = "xxxxxxxxxx"
mysqlurls = "127.0.0.1"
mysqlport = 3306
mysqldb   = "goj"

static_map = "map.json"

judgerhost = "127.0.0.1"
judgerport = 1004
judgerpass = "123456789"

github_client_id = xxxxxxxxxxxx
github_client_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
