{% extends "../../common/layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/user/login.css">
	<div class="pannel">
		{% include "./inc_menu.html" %}

		<div class="main-pannel" ng-app="tpApp" >
			<ul>
                <li>{{i18n ("Change Password")}}</li>
				<li>
					<form action="">
						<input type="password" name="" id="">
						<input type="password" name="" id="">
						<input type="submit" value="修改">
					</form>
				</li>
			</ul>

		</div>

	</div>
    <script src="static/js/user/user.js"></script>
{% endblock %}
